<div *ngIf="dataLoaded==false" class="spinner-border text-warning" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="mb-3">
  <label for="filterText" class="form-label">Ürün Ara</label>
  <input type="text" class="form-control" [(ngModel)]="filterText" id="filterText" placeholder="Aranacak veriyi giriniz.">
</div>
<div>

</div>
<table *ngIf="dataLoaded==true" class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>İsim</th>
    <th>Kategori ID</th>
    <th>Birim Fiyat</th>
    <th>Kdvli Fiyat</th>
    <th>Stoktaki Adet</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let product of products|filter:filterText">
    <td>{{product.productId}}</td>
    <td>{{product.productName}}</td>
    <td>{{product.categoryId}}</td>
    <td>{{product.unitPrice}}₺</td>
    <td>{{product.unitPrice | vatAdded:10 |currency:"TRY":"₺"}}</td>
    <td>{{product.unitsInStock}}</td>
    <td><button (click)="addToCart(product)" class="btn btn-success">Sepete Ekle</button></td>
    </tr>
</tbody>
</table>